/* Reset some default styles */
html, body, div, h1, form, input, button {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #202325; 
}

nav {
    background-color: #262a2b;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    max-width: 800px;
    color: #aba499;
    margin: 0 auto;
    background-color: #181A1b;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.category, .format {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    flex: 1;
    font-weight: bold;
}

input[type="checkbox"], input[type="radio"] {
    opacity: 0.5;
    margin-right: 10px;
}

#query {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

label[for="amount"] {
    font-weight: bold;
    margin-right: 10px;
}

input[type="number"] {
    padding: 5px;
    background-color: #1b1e1f;
    border: 1px solid #3E444B;
    color: white;
    border-radius: 3px;
    width: 60px;
}

#result {
    padding: 10px;
    border: 1px solid #3E444B;
    border-radius: 3px;
    background-color: #1b1e1f;
    margin: 20px 0;
}

#generate {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#generate:hover {
    background-color: #555;
}

#copyButton {
    background-color: #181A1b; /* Same color as the overall assignment */
    color: #aba499; /* Same color as the overall assignment */
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    float: right; /* Align to the right side within the content section */
    margin-top: -10px; /* Adjust as needed for spacing from the top */

    font-size: inherit; /* Use the same font size as the parent element */
}

#copyButton:hover {
    background-color: #1b1e1f; /* Slightly darker on hover */
}

#result {
    position: relative;
}

#copyButton {
    position: relative; /* Change to relative so it respects the content flow */
    top: -10px; /* Adjust as needed for spacing from the top */
}

#download-button {
    background-color: #333;
    color: white;
    margin: 0;
    padding: 7px 13px 7px 13px;
}
#download-button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 10px;
}


.nice-button {
    font-family: Arial, sans-serif;
    font-style: italic;
    display: inline-block;
    padding: 8px 12px;
    font-size: 13px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: rgb(60, 64, 67);
  }
